use flake

# Configure these in case devs fail to use Just.
export RUSTFLAGS="--cfg=web_sys_unstable_apis"
export VERSION="$(git rev-parse --short=8 HEAD)"
export CARGO_HOME="$(pwd)/.cargo"
export BERKELEY_FEATURES_ENABLED="true"
