# The cloudfront distribution-id
DIST_ID=<cloudfront-id>

# The origin s3 bucket for the cloudfront CDN
BUCKET_NAME=<bucket-name>

# See https://github.com/Granola-Team/mina-indexer
# The URL for the mina-indexer's graphql endpoint
GRAPHQL_URL=http://localhost:8080/graphql

# The URL for the mina-indexer's REST endpoint
REST_URL=http://localhost:8080
