.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

node_modules/
dist
target/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.cargo/
!/.cargo/config.toml
!/.cargo/audit.toml
/.build
/cypress/screenshots
