.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

/pnpm/node_modules/
/dist

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

/rust/target/
/rust/.cargo/
!/rust/.cargo/config.toml
!/rust/.cargo/audit.toml
/.build
/spec-screenshots
